.navigationButtons 
{
    display: flex;
    align-items: flex-start;
    background-color: black;
    padding: 10px;
}

.navigationButtons button 
{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
}
